{% extends 'client/base.html' %}


{% block content %}

    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-4">Detalhe do Produto</h1>
    </div>

    <div class="container">
      <div class="">
        <div class="row">
        <div class="card-deck mb-3 text-center col-12">
          <div class="card mb-4 box-shadow">
            <div class="card-header">
              <h4 class="my-0 font-weight-normal">{{ product.name }}</h4>
            </div>
            <div class="card-body">
              <img class="mb-2 img-fluid" src="{{ product.img }}" alt="{{ product.name }}" style="height:auto; max-height:200px ;max-width:100%;"><br>
              <span class="card-title pricing-card-title h5">Alugue por:</span>
              <ul class="list-unstyled mt-3 mb-4">
                <li><h3 class="card-title pricing-card-title"> <small class="text-muted">5 x </small>R$ {% widthratio product.price 500 107|floatformat %}</h3></li>
                <li>ou R$ {{ product.price }} à vista</li>
                <li class="text-muted">tamanhos disponíveis:
                    {% for size in product.size %}
                    {% if forloop.last %}
                        {{ size }}.
                    {% else %}
                        {{ size }},
                    {% endif %}
                    {% endfor %}
                </li>
                <li class="text-muted">
                    quantidade em estoque: {{ product.quantity }}
                </li>
              </ul>
              <button type="button" class="btn btn-lg btn-block btn-success">Alugue agora</button>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
{% endblock %}