{% extends 'core/base.html' %}


{% block content %}

    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-4">Bem vindo ao nosso site!</h1>
      <p class="lead">Aluguel online de roupas.</p>
    </div>

    <div class="container">
      <div class="">
        <div class="card-deck mb-3 text-center">
          <div class="card mb-4 box-shadow">
            <div class="card-header">
              <h4 class="my-0 font-weight-normal">Ternos</h4>
            </div>
            <div class="card-body">
              <span class="card-title pricing-card-title h5">Alugue por:</span>
              <ul class="list-unstyled mt-3 mb-4">
                <li><h1 class="card-title pricing-card-title"> <small class="text-muted">5 x </small>R$ 121,00</h1></li>
                <li>ou R$ 605,00 à vista</li>
                <li class="text-muted">tamanhos: 36 40 44 46</li>
              </ul>
              <button type="button" class="btn btn-lg btn-block btn-success">Alugue agora</button>
            </div>
          </div>
          <div class="card mb-4 box-shadow">
            <div class="card-header">
              <h4 class="my-0 font-weight-normal">Calças</h4>
            </div>
            <div class="card-body">
              <span class="card-title pricing-card-title h5">Alugue por:</span>
              <ul class="list-unstyled mt-3 mb-4">
                <li><h1 class="card-title pricing-card-title"> <small class="text-muted">5 x </small>R$ 121,00</h1></li>
                <li>ou R$ 605,00 à vista</li>
                <li class="text-muted">tamanhos: 36 40 44 46</li>
              </ul>
              <button type="button" class="btn btn-lg btn-block btn-outline-primary">Alugue agora</button>
            </div>
          </div>
          <div class="card mb-4 box-shadow">
            <div class="card-header">
              <h4 class="my-0 font-weight-normal">Camisas</h4>
            </div>
            <div class="card-body">
              <span class="card-title pricing-card-title h5">Alugue por:</span>
              <ul class="list-unstyled mt-3 mb-4">
                <li><h1 class="card-title pricing-card-title"> <small class="text-muted">5 x </small>R$ 121,00</h1></li>
                <li>ou R$ 605,00 à vista</li>
                <li class="text-muted">tamanhos: 36 40 44 46</li>
              </ul>
              <button type="button" class="btn btn-lg btn-block btn-outline-primary">Alugue agora</button>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}